#skyweb24_coupon_type2{
    width: 750px;
    overflow: hidden;
    background: linear-gradient(100deg, var(--theme_color_main) 12%, var(--theme_color_add) 72%);
}
#skyweb24_coupon_type2 .bg{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url('/bitrix/components/skyweb24/popup.pro/templates/coupon_type2/img/diagmonds-light.png'); 
    background-position: center;
}
#skyweb24_coupon_type2 .title{
    font-weight: 700;
    font-size: 35px;
}
#skyweb24_coupon_type2 .subtitle{
    margin: 15px 0 30px;
    font-size: 15px;
}
#skyweb24_coupon_type2 .row_image{
    max-height: 340px;
    max-width: 50%;
    overflow: hidden;
}
#skyweb24_coupon_type2 .row_image img{
    width: 100%;
}
#skyweb24_coupon_type2 .input input,#skyweb24_coupon_type2 .input input[disabled]{
    outline: none;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
    width: calc(66% - 5px);
    background: white;
}
#skyweb24_coupon_type2 button{
    float: right;
    padding: 10px 5px;
    border-radius: 2px;
    border: none;
    color: white;
}
#skyweb24_coupon_type2 .message{
    width: 100%;
    margin-top: 5px;
    font-weight: bold;
    color: red;
}
#skyweb24_coupon_type2 .message span{
    display: none;
}
#skyweb24_coupon_type2 h2{
    margin-bottom: 20px;
}
#skyweb24_coupon_type2 .image{
    padding: 10px;
    max-height: 340px;
    max-width: calc(50% - 20px)
}
#skyweb24_coupon_type2 .row_content{
    position: relative;
    max-width: 50%;
    /*padding: 25px 25px 15px;*/
    padding: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
}
#skyweb24_coupon_type2 .input
{
    width: 100%;
}
#skyweb24_coupon_type2 label.input-1 input.error {
    border-color: #e74c3c;
}

#skyweb24_coupon_type2 label.input-1 input.error + span.error {
    display: inline;
    color: #e74c3c;
}
#skyweb24_coupon_type2 label.input-1.notshow {
    display: none;
}

#skyweb24_coupon_type2 label.input-1 .not_new {
    display: none;
    color: #e74c3c;
    font-size: 15px;
    line-height: 15px;
    width: calc(100% - 240px);
    height: 35px;
    margin-top: 10px;
    vertical-align: middle;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
#skyweb24_coupon_type2 input + span {
    font-size: 14px;
    display: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
#skyweb24_coupon_type2 span.sale {
    font-size: 16px;
    background: white;
    margin: 10px 10px 10px 0px;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}
#skyweb24_coupon_type2 div.coupon_block input.goodCoupon {
    display: none;
    font-size: 16px;
    background: white;
    padding: 10px 0px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#skyweb24_coupon_type2 label{
    width: 100%;
}

#skyweb24_coupon_type2 .close-btn{
    text-align: center;
    margin-top: 20px;
}

#skyweb24_coupon_type2 button {
    background: var(--theme_color_main);
}

#skyweb24_coupon_type2 button:hover {
    opacity: .8
}

#skyweb24_coupon_type2 span.sale {
    color: white;
    background: var(--theme_color_add);
    opacity: .5;
}

#skyweb24_coupon_type2 input {
    color: var(--theme_color_main);
}

#skyweb24_coupon_type2 .coupon_block input.goodCoupon {
    color: var(--sw24-popuppro-text);
    border: 2px dashed var(--theme_color_main);
}

.skyweb24_popup_pro_timer {
    background: var(--theme_color_main);
}

.popup-window.sw24PopupPro .popup-window-close-icon {
    background: var(--theme_color_main);
}

@media screen and (max-width: 756px){
    #skyweb24_coupon_type2, #skyweb24_coupon_type2 .row_content, #skyweb24_coupon_type2 .row_image{
        width: 100%;
        text-align: center;
        max-width: none;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    #skyweb24_coupon_type2 .bg{
        flex-direction: column;
    }
}
@media screen and (max-width: 425px){
    #skyweb24_coupon_type2 {
        width: 100%;
        min-width: 100vw;
        }
    }
