#skyweb24_roulette2 {
    text-align: center;
    padding: 20px;
    background: var(--theme_color_bg);
    position: relative;
    width: 90vw;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    --roulette-size: 300px;
    /*--roulette-size: 400px;*/
}

.sw24-roulette {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    }
    .sw24-roulette__unit {
        
        }
    .sw24-roulette__unit._info {
        padding: 15px;
        flex: 1 1 100%;
        }
        .sw24-roulette__unit._info > *:not(:last-child) {
            margin-bottom: 20px;
            }
    .sw24-roulette__title {
        font-size: 1.9em;
        font-weight: bold;
        color: var(--theme_color_main);
        }
    .sw24-roulette__subtitle {
        font-size: 1.3em;
        }

#skyweb24_roulette h2 {
    margin: 0;
    padding: 0;
}

#skyweb24_roulette h3 {
    margin: 20px 0 15px;
    padding: 0;
    color: var(--theme_color_text);
    font-size: 16px;
}

#skyweb24_roulette2 .rotate_shadow {
    box-shadow: 9px 11px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: var(--roulette-size);
    height: var(--roulette-size);
    /*margin: 0 auto;*/
    position: relative;
    margin-bottom: 20px;
}

#skyweb24_roulette2 .rotate_block {
    position: relative;
    width: var(--roulette-size);
    transition: transform 7s ease-out;
    border-radius: 50%;
    border: 5px solid #fff;
    box-sizing: content-box;
}

#skyweb24_roulette2 .container {
    width: var(--roulette-size);
    height: var(--roulette-size);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    display: block;
    padding: 0;
    background: none;
    border-top: none;
}

#skyweb24_roulette2 .email.input {
    display: block;
    margin-bottom: 20px;
}

#skyweb24_roulette2 .email.input > input {
    width: 100%;
    max-width: 290px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
    height: 45px;
    /*height: 37px;*/
    border-radius: 40px;
    display: inline-block;
    outline: none;
}

#skyweb24_roulette2 .sector {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: left bottom;
    box-shadow: 0px 0px 1px 1px #ffffff;
    border-top: 0;
    border-right: 0;
}

#skyweb24_roulette2 div.text {
    width: var(--roulette-size);
    height: var(--roulette-size);
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#skyweb24_roulette2 div.text > div {
    color: white;
    width: 46%;
    top: calc(50%);
    left: 50%;
    text-align: right; /*margin-top: -50%;*/
    position: absolute;
    font-size: 15px;
    transform-origin: 0 0;
}

#skyweb24_roulette2 .negative {
    filter: grayscale(90%);
}

#skyweb24_roulette2 .contain_roulette {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 40px 10px 15px;
    /*overflow: hidden;*/
    /*width: 75%;*/
    /*min-width: 600px;*/
}

#skyweb24_roulette2 div.arrow {
    display: inline;
    position: absolute;
    left: calc(var(--roulette-size) - 27px);
    top: calc(50% - 41px);
    width: 70px;
}

#skyweb24_roulette2 div.arrow > svg {
    filter: drop-shadow(4px -4px 4px #45494C);
    transform: rotate(90deg);
}

#skyweb24_roulette2 p.result_roll {
    font-size: 20px;
}

#skyweb24_roulette2 p.result_roll_fail {
    color: #e74c3c;
    font-size: 20px;
}

#skyweb24_roulette2 p.result_roll_not_unique {
    color: #e74c3c;
    font-size: 16px;
    margin-top: 10px;
}

#skyweb24_roulette2 button.roll_roulette {
    width: 100%;
    max-width: 290px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s all;
    color: white;
    border-radius: 40px;
    padding: 15px 0px;
    font-size: 16px;
    border: none;
    height: auto;
    outline: none;
}

#skyweb24_roulette2 .email.input.blink > input {
    animation-name: blink;
    animation-duration: 1s;
}

#skyweb24_roulette2 .sw24TextCloseButton {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #2c3e50;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: #2c3e50;
}

#skyweb24_roulette2 .sw24TextCloseButton:hover {
    border-bottom: 1px dashed transparent;
}


#skyweb24_roulette2 h2 {
    color: var(--theme_color_main);
}

#skyweb24_roulette2 p.result_roll {
    color: var(--theme_color_main);
}

#skyweb24_roulette2 label.email.input > input,
#skyweb24_roulette2 label.email.input > input:active,
#skyweb24_roulette2 label.email.input > input:focus {
    border: 1px solid var(--theme_color_main);
    color: var(--theme_color_main);
}

#skyweb24_roulette2 button.roll_roulette {
    background: var(--theme_color_main);
}

#skyweb24_roulette2 button.roll_roulette:hover {
    opacity: .8;
}

#skyweb24_roulette2 div.arrow path:nth-child(1) {
    fill: var(--theme_color_main) !important
}

#skyweb24_roulette2 div.arrow path:nth-child(2) {
    fill: var(--theme_color_add) !important
}

.skyweb24_popup_pro_timer {
    background: var(--theme_color_main);
}

.popup-window.sw24PopupPro .popup-window-close-icon {
    background: var(--theme_color_main);
}
#skyweb24_roulette2 label.email.sw24-error{
    display: block;
}


@keyframes blink {
    0% {
        background: #e74c3c;
    }
    25% {
        background: #c9392b;
    }
    50% {
        background: #e74c3c;
    }
    75% {
        background: #c9392b;
    }
    100% {
        background: #e74c3c;
    }
}

@media screen and (max-width: 700px) {
    #skyweb24_roulette2 {
        box-sizing: border-box;
    }
}

@media screen and (max-width: 540px) {
    #skyweb24_roulette2 {
        --roulette-size: 250px;
    }

    #skyweb24_roulette2 {
        padding: 15px;
    }

    #skyweb24_roulette2 h2 {
        font-size: 22px;
    }

    #skyweb24_roulette2 h3 {
        font-size: 14px;
    }

    #skyweb24_roulette2 .contain_roulette {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 425px) {
    #skyweb24_roulette2 {
        width: 100%;
        min-width: 100vw;
        --roulette-size: 250px;
        }
    #skyweb24_roulette2 h3 {
        margin: 10px 5px;
    }
    
    .sw24-roulette {
        flex-wrap: wrap;
        }
    #skyweb24_roulette2 div.text > div {
        font-size: 12px;
    }

    #skyweb24_roulette2 div.rotate_shadow {
        margin: 0px 0px 20px 0px;
    }
}

@media screen and (max-width: 330px) {
    #skyweb24_roulette2 {
        --roulette-size: 230px;
        }
}