#AuthType Basic
#AuthName Wsdl
#AuthUserFile .htpasswd
#Require valid-user

AuthType Basic
AuthName "Restricted Content"
AuthUserFile /home/bitrix/ext_www/belwooddoors.ru/local/webservice/soap/.htpasswd
Require valid-user